
                <div class="col-md-4 employee-card">
                    <div class="card-header">
                        <h3>Name</h3>
                        <i class="fas fa-mug-hot"></i>
                        <h3> Manager</h3>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li>ID: 1</li>
                            <li>Email: <a href="#">user@gmail.com</a></li>
                            <li>GitHub: <a href="#">Profile</a></li>
                        </ul>
                    </div>
                </div>